@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cosmos-bg text-cosmos-text font-rajdhani overflow-x-hidden;
  }
}

/* Scrollbar personnalisée */
@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #030014;
  }
  ::-webkit-scrollbar-thumb {
    background: #00F0FF;
    border-radius: 4px;
  }
}
/* ANIMATION D'APESANTEUR (COSMOS FLOAT) */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px); /* Monte de 10 pixels */
  }
  100% {
    transform: translateY(0px);
  }
}

/* Classe utilitaire à appliquer */
.animate-float {
  /* On passe de 6s à 3s pour doubler la vitesse */
  animation: float 4s ease-in-out infinite;
}

/* Variante décalée (optionnelle, mettez aussi 3s ou 3.5s) */
.animate-float-delayed {
  animation: float 4s ease-in-out infinite;
  animation-delay: 1s;
}